<div id="canceledTransactionToast" class="toast mt-3" role="alert" aria-live="assertive" aria-atomic="true">
    <i class="dismiss bi bi-x fs-3 fw-bold" title="dismiss" data-bs-dismiss="toast" aria-label="Close"></i>
    <div class="d-flex justify-content-start align-items-center">
        <i class="bi bi-exclamation-diamond-fill pe-1 me-2" title="canceled"></i>
        <div class="text fs-5">Transaction canceled</div>
    </div>
</div>
