@if (Addresses != null)
{
    <div class="d-flex flex-column justify-content-center">
        @for (int i = 0; i < Addresses.Count; i++)
        {
            var address = $"{Addresses[i][..15]}...{Addresses[i][47..]}";
            var index = i;
            <div class="mx-auto" @onclick="() => CheckChanged.InvokeAsync(index)">
                <RadioBtn Name="@address" />
            </div>
        }
    </div>
}
else
{
    <div class="d-flex flex-column justify-content-center no-address w-100">
        <div class="d-flex justify-content-center">
            <i class="bi bi-window-x"></i>
        </div>
        <h4 class="text-center mb-3">No addresses could be retrieved</h4>
    </div>
}
