<div class="d-flex justify-content-start align-items-center btn my-3 button" @onclick="() => ConnectEvent.InvokeAsync()">
    <img class="icon ms-2" src="/icons/@Icon" />
    <span class="ms-3">@Name</span>
</div>
