.button {
    height: 60px;
    color: var(--bs-light);
    background-color: var(--bs-gray-dark);
    border: none !important;
    box-shadow: 0 1px 2px 0px var(--c-shadow-btn);
}

    .button:hover {
        background-color: rgba(255,255,255,0.25);
    }

.icon {
    width: 24px;
}
