<div class="d-flex jusitfy-content-between my-3">
    <div class="d-flex justify-content-start align-items-center btn button w-100" @onclick="() => ConnectEvent.InvokeAsync()">
        <img class="icon ms-2" src="/icons/ic_maiar.svg" />
        <span class="ms-3">@Name</span>
    </div>
    <div class="d-flex justify-content-center align-items-center btn button ms-3" @onclick="() => ConnectV2Event.InvokeAsync()">
        <img class="icon" src="/icons/ic_maiarv2.svg" />
        <span class="ms-2 text-nowrap">Maiar V2</span>
    </div>
</div>
