@inherits LayoutComponentBase

<CascadingValue Value="@WalletConnected">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <Login />
        <TransactionsPanel />
        <WaitingForMessageSignatureModal />
        <WaitingForSignatureModal />

        <main>
            <div class="top-row px-3 px-sm-4">
                <div class="network">@CurrentNetwork</div>
                <div class="d-flex align-items-center">
                    <a class="top-row-link ms-1 ms-sm-3" href="https://github.com/RemarkableTools/Mx.Blazor.DApp/tree/x-hackathon" target="_blank"><i class="bi bi-github fs-5 me-2"></i>Web App</a>
                    <a class="top-row-link ms-1 ms-sm-3" href="https://github.com/btc-fan/mvx-smart-airdrop-service" target="_blank"><i class="bi bi-github fs-5 me-2"></i>AI Agent</a>
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <UpdateAvailableDetector />
</CascadingValue>
