<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="Mx.Blazor.DApp.Client.styles.css" />
    <link rel="icon" href="https://template-dapp.remarkable.tools/remarkabletools.ico">
    <link rel="icon" href="favicon.ico">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@RemarkableTools" />
    <meta name="twitter:creator" content="@@RemarkableTools" />
    <meta property="og:url" content="https://template-dapp.remarkable.tools">
    <meta property="og:title" content="Blazor DApp">
    <meta property="og:description" content="Blazor DApp template from Remarkable Tools">
    <meta property="og:image" content="favicon.ico">

    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

    <script src="_framework/blazor.web.js"></script>
    <script src="sw-registrator.js"></script>
    <script src="js/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/npm/extensionWallet.js"></script>
    <script src="js/npm/xPortalWallet.js"></script>
    <script src="js/npm/webWallet.js"></script>
    <script src="js/npm/hardwareWallet.js"></script>
    <script src="js/npm/webview.js"></script>
</body>

</html>
