.mw-600 {
    max-width: 600px;
    width: 100%;
}

.panel {
    border: 0px solid #313434;
    background-color: var(--bs-gray-900);
    border-radius: .25rem;
    box-shadow: 0 1px 6px 0 var(--c-shadow);
}

input::-webkit-input-placeholder {
    font-style: italic;
    font-size: .9rem;
}

:-moz-placeholder {
    font-style: italic;
    font-size: .9rem;
}

::-moz-placeholder {
    font-style: italic;
    font-size: .9rem;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: .9rem;
}
