<div class="modal fade" id="WalletMessageSignatureModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-0 px-4">
                <div class="my-5">
                    <div class="h3 text-center mb-3">Confirm on <span id="MessageSignatureConfirmDevice"></span></div>
                    <div class="text-center">Check your device to sign the message</div>
                </div>
            </div>
            <div class="modal-footer p-0">
                @if (CanCancel)
                {
                    <button type="button" class="btn btn-primary px-3 py-2 m-0 mb-4" data-bs-dismiss="modal" @onclick="CancelAction">Cancel</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary px-3 py-2 m-0 mb-4" data-bs-dismiss="modal">Dismiss</button>
                }
            </div>
        </div>
    </div>
</div>
